.hotel__card {
  background-color: #eebbc3;
  border: solid 3.5px #121629;
  color: #121629;
  padding: 10px;
  width: 410px;
  height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.hotel__card img {
  width: 100%;
}

.description {
  text-align: justify;
  height: 200px;
  overflow: hidden;
}

h2 {
  padding: 8px 0 8px 0;
  font-size: 1.2rem;
}

.hotel__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.icon__card {
  background-color: #b8c1ec;
  border: solid 3px #121629;
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve__button {
  height: 45px;
  width: 100%;
  background-color: #232946;
  border: solid 3px #121629;
  color: white;
  margin-top: 10px;
  font-weight: 600; 
}