.filter {
  position: relative;
  background-color: white;
  padding-left: 35px;
  border-radius: 5px;
  height: 30px;
  width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2.5px #121629;
}

input, select {
  outline: none;
  font-size: 0.9rem;
}

.icon {
  position: absolute;
  left: 10px;
  color: #232946;
}